In [6]:
import pandas as pd

In [10]:
x = pd.Series(["2319|5343|2934|5611|121|554|3092|1268|4026|534"])
# only pandas has method split
x = x.values[0].split('|')
x

['2319', '5343', '2934', '5611', '121', '554', '3092', '1268', '4026', '534']

In [12]:
word_list = []

In [13]:
word_list += x

In [14]:
word_list

['2319', '5343', '2934', '5611', '121', '554', '3092', '1268', '4026', '534']

In [15]:
#iterrows is a generator which yield both index and row

In [18]:
import pandas as pd
inp = [{'c1':10, 'c2':100}, {'c1':11,'c2':110}, {'c1':12,'c2':120}]
df = pd.DataFrame(inp)
print (df)

   c1   c2
0  10  100
1  11  110
2  12  120

iterate over the rows of this frame. For every row I want to be able to access its elements (values in cells) by the name of the columns. For example:

In [22]:
# iterrows is a generator which yield both index and row
# https://stackoverflow.com/questions/16476924/how-to-iterate-over-rows-in-a-dataframe-in-pandas
for index, row in df.iterrows():
   print (row['c1'], row['c2'])

10 100
11 110
12 120

In [ ]:
# 只有pandas.Series 和 string 有split方法，[],()都不行

In [32]:
books_2017 = "5854, 5676, 7265, 6051"
books_2017 = books_2017.split(', ')
type(books_2017)

list

In [33]:
books_2017

['5854', '5676', '7265', '6051']

https://www.zhihu.com/question/55721190

In [36]:
names = ['张三', '李','赵五']
scores = [77, 88, 99]
#names和scores里面的元素是一一对应的，那么，如何查找'赵五'的分数呢？
#因为我们并不知道'赵五'是names里面的第几个元素，所以必须要遍历。
for index, name in enumerate(names):
    if name == '赵五':
        print(index,scores[index])

2 99